{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% if projects %}
    {% for project in projects %}
    <div class="col-sm-6">
        <div class="card mt-3">
            <h5 class="card-header">{{ project.name }}</h5>
            <div class="card-body">
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'tms:project_detail' project.id %}" class="btn btn-primary">Go to the project</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No projects are available.</p>
    {% endif %}
</div>
{% endblock %}