{% extends 'base.html' %}

{% block content %}
    {% if project_suites %}
        {% for suite in project_suites %}
        <div class="card mt-3">
            <h5 class="card-header">Suite: {{ suite.name }}</h5>
            <div class="card-body">
                <p class="card-text">{{ suite.description }}</p>
                <a href="{% url 'tms:suite_detail' suite.id %}" class="btn btn-primary">Check suite</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No suites are available.</p>
    {% endif %}
{% endblock %}