{% extends 'base.html' %}

{% block content %}
<div class="mt-4">
    <h2>{{ suite.name }}</h2>
    <p>Description: {{ suite.description }}</p>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#id</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Automated</th>
        <th scope="col">Pub date</th>
    </tr>
    </thead>
    <tbody>
    {% for case in suite_cases %}
    <tr>
        <th scope="row">{{ case.pk }}</th>
        <td><a href="{% url 'tms:case_detail' case.id %}">{{ case.name }}</a></td>
        <td>{{ case.get_case_status_display }}</td>
        <td>{{ case.get_automated_display }}</td>
        <td>{{ case.pub_date }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
