<a href="{% url 'tms:index'  %}">Home</a>
<p>{{ suite.name }}</p>
<p>{{ suite.description }}</p>
<ul>
    {% for case in suite_cases %}
    <hr>
    <div>
        <li><a href="{% url 'tms:case_detail' case.id %}">Name: {{ case.name }}</a></li>
        <li>Pub date: {{ case.pub_date }}</li>
        <li>Description: {{ case.description }}</li>
        <li>Pre: {{ case.pre_requisites }}</li>
        <li>Steps: {{ case.test_steps }}</li>
        <li>Status: {{ case.get_case_status_display }}</li>
        <li>Automated: {{ case.get_automated_display }}</li>
    </div>
    {% endfor %}
    <hr>
<form action="{% url 'tms:suite_delete' pk=suite.pk %}" method="POST">
       {% csrf_token %}
       <button class="btn">Delete</button>
</form>
</ul>